{% extends 'layouts/admin.html.twig' %}

{% block title %}{{ 'admin.home'|trans }}{% endblock %}

{% block content %}


    <div class="mpblock row">
        <h4>{{ 'entity.Task.add'|trans }}</h4>
        <div class="mpcontent">
            <a href="{{ path('add_task') }}" class="btn btn-primary" role="button" title="{{ 'entity.Task.add'|trans }}">{{ 'entity.Task.add'|trans }}</a>
        </div>
    </div>

    <div class="mpblock row">
        <h4>{{ 'entity.Task.to_validate_tasks'|trans }}</h4>
        <div class="mpcontent">
            <h5>todo fusion ?</h5>
        </div>
    </div>

    <div class="mpblock row">
        <h4>{{ 'entity.Task.todo_tasks'|trans }}</h4>
        <div class="mpcontent">
            <h5>todo fusion ?</h5>
        </div>
    </div>

    <div class="mpblock row">
        <h4>Todo : </h4>
        <div class="mpcontent">
            <ul>
                <li>Création tâche : <span class="label label-success">ok</span></li>
                <li>Liste tâche à valider : <span class="label label-info">todo: fusionner tout = les tâches dans l'ordre avec code couleur status ? bonhomme pour assignments ?</span></li>
                <li>Suivi des tâches en cours + update de la priorité : <span class="label label-info">todo: fusion ?</span></li>
                <li>timeline stylé ? : <span class="label label-warning">todo</span></li>
            </ul>
        </div>
    </div>

{% endblock %}
